/* .container{
  max-width: 100%;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  /* padding: 25px; */
/* }  */
body{
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  /* background-color: #f1f1f1; */
  background: rgba(0, 0, 0, 0.5)
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 10vh;
}

.nav a{
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  text-decoration: none;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
}

.progress-bar {
  height: 8px;
  background: white;
  width: 0%;
}





/* 
.scew{
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 50vh;
  transform-origin: top right;
  transform: skewY(-4deg);
  background: gray;
} */

/* .unscew{ */
  /* transform: skewY(4deg); */
/* } */

.parallaxOne{
  background: url(./images/woodsTwo.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2vw;
  /* -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  transform: skewY(-4deg); */
  /* -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%); */
  overflow:hidden;
  position: relative;
}



/* .parallaxOne:after{
  position: absolute;
  width: 100%;
  height: 100%;
  background:inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skew(-4deg);
} */

.parallaxTwo{
  background: url(./images/water.gif) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2vw;
}

.parallaxThree{
  background: url(./images/mossyTrees.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2vw;

}

h1{
  display: flex;
  align-items: flex-end;
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6vh;
  margin-left: 2vw;
}

h2{
  display: flex;
  align-items: flex-end;
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  margin-left: 2vw;
  margin-bottom: 5vw;

}

p, li{
  font-size: 2vh;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 1vw;
  /* color: white; */
}